:root {
    --blue-color: #005F9F;
    --yellow-color: #F8B400;
    --red-color: #BD111A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@media (max-width:992px) {
    html {
        font-size: 90%;
    }
}

@media (max-width:767px) {
    html {
        font-size: 75%;
    }
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

button {
    outline: none;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
}

/* START NAVBAR  */
.up {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--yellow-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    border-radius: .35rem;
}

header {
    width: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.083);
    z-index: 50;
    background-color: hsl(0, 0%, 100%);
    transition: .5s ease;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
    position: relative;

}

header a {
    color: var(--blue-color);
    font-weight: 500;
}

header a img {
    width: 75px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

header nav ul li a {
    position: relative;

}

header nav ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--yellow-color);
    top: 120%;
    left: 0;
    border-radius: 15px;
    transition: .4s ease;
}

header nav ul li a:hover::before {
    width: 100%;
}

header nav {
    padding-top: 15px;
}



.menu-btn {
    display: none;
    background-color: transparent;
    padding: .5rem 1rem;
}


.menu-btn i {
    color: black;
    font-size: 2.5rem;
    transition: .4s ease;
}




@media (max-width: 991px) {
    header nav {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 99;
        top: 100%;
        left: 0;
        background-color: white;

    }

    header nav ul {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    header nav ul li {
        padding: 1.3rem 0;
    }

    .menu-btn {
        display: block;
    }
}

.show-menu {
    display: block;
}

/* END NAVBAR  */

/* START MAIN  */


main {
    position: relative;
    background-image: url(../assets/main.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--yellow-color);
    font-weight: 900;
}

main p {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
    max-width: 750px;
    padding-inline: .5rem;
}

/* END MAIN  */

/* Start Features */
.feat {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
}

.feat i {
    background-color: var(--yellow-color);
    color: white;
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-bottom: .5rem;
    border-radius: 50%;
}

.offer {
    background-color: var(--yellow-color);
    color: var(--white-text-color);
    margin: 0 auto;
    border-radius: .5rem;
}

/* End Features */

/* START WHY */


.why-us h2 {
    color: var(--blue-color);
}

.why-us h2 span {
    color: var(--yellow-color);

}

.why-us p {
    font-size: 1.15rem;
}

.news-letter {
    background-color: var(--blue-color);
    color: white;
}

.news-letter .btn {
    background-color: var(--yellow-color);
}

/* END WHY */
/* START CLIENTS */
.clients {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: auto;
    user-select: none;
    /* Disable text selection */
    -webkit-user-select: none;
    /* Disable text selection for Safari */
    -ms-user-select: none;
    /* Disable text selection for IE/Edge */
}

.clients:hover {
    cursor: grab;
}

.clients:active {
    cursor: grabbing;
}


.clients::-webkit-scrollbar {
    display: none;
}

.nos-clients .container {
    color: var(--yellow-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nos-clients p i {
    background-color: var(--yellow-color);
    color: white;
    border-radius: 50%;
    padding: .85rem;
    cursor: pointer;
}

.localisation {
    color: var(--yellow-color);
}

/* END CLIENTS */
/* START FOOTER */
.footer {
    background-color: var(--blue-color);
    color: white;
}

.footer ul li a {
    color: white;
}

.footer ul li a:hover {
    border-bottom: 2px solid var(--yellow-color);
}

footer .social-links a {
    color: white;
}

footer .social-links a:hover {
    color: var(--yellow-color);
}

/* END FOOTER */